<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="footerFragment">
    <!-- Footer -->
            <footer class="row">
                <div class="col-12 bg-purple text-white pb-5 pt-5">
                    <div class="row">
                        <div class="col-12 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer-logo">
                                        <a th:if="${session.seller == null}" href="/home">Cake.zip</a>
                                        <a th:if="${session.seller != null}" href="/sellers/myshop">Cake.zip</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <address>
                                        Quokka TF<br/>
                                        Seoul, Korea
                                    </address>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            kayeong-kim@nhn-commerce.com
                                        </li>
                                        <li>
                                            hwijeong-lee@nhn-commerce.com
                                        </li>
                                        <li>
                                            hyerim-hwang@nhn-commerce.com
                                        </li>
                                        <li>
                                            gyoungmin-yoo@nhn-commerce.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
</div>
</html>
