<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container-fluid">

    <div class="row min-vh-100">
        <div class="col-12 bg-purple py-2 d-md-block d-none">
            <div class="row">
                <div class="col-auto me-auto">
                    <ul class="top-nav" style="color:white;">
                        <li>
                            <i class="fa fa-phone-square me-2"></i>+123-456-7890
                        </li>
                        <li>
                            <i class="fa fa-envelope me-2"></i>cakezip@cake.com
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <ul class="top-nav">
                        <li th:if="${session.user != null}"  >
                            <a href="/mypage"><i class="fas fa-user-alt me-2"></i>마이페이지</a>
                        </li>
                        <li th:if="${session.user != null}"  >
                            <a href="/users/logout"><i class="fas fa-user-alt me-2"></i>로그아웃</a>
                        </li>
                        <li th:if="${session.user == null}">
                            <a href="/users/register"><i class="fas fa-user-edit me-2"></i>회원가입</a>
                        </li>
                        <li th:if="${session.user == null}" >
                            <a href="/users/login"><i class="fas fa-sign-in-alt me-2"></i>로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <header class="row">
            <div>



                <!-- Header -->
                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left px-3">
                                <a href="/sellers/myshop">Cake.zip</a>
                            </div>
                        </div>


                    </div>
                </div>

                <!-- Nav -->

                <!-- Nav -->
            </div>
        </header>
        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="col-12 pt-3 bg-lightpurple text-center text-uppercase" style="color:#AD81D5">
                    <h2>케이크 가게 등록</h2>
                    <p>등록을 완료하게 되면 이제 손님들이 사장님의 가게를 확인할 수 있어요.</p>
                </div>
            </div>

            <main class="row">
                <div class="col-12 bg-white py-3 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">

                            <form th:action ="@{/shops/new}" th:object="${form}" method="post">
                                <h3 for="inputDescription" style="margin:30px; ">
                                    가게 기본 정보
                                </h3>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputName">
                                        가게이름
                                    </h5>
                                    <input type="text" class="form-control" id="inputName" th:field="*{storeName}" required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputImg">
                                        가게 대표 사진 4장
                                    </h5>
                                    <input type="file" class="form-control-file" id="inputShopImg" multiple="multiple" onchange="uploadStoreImgList(this)" accept=".png, .jpg, .jpeg"/>
                                    <input type="text" id = 'storeImgList' style="display: none" th:field = "*{storeImgList}"/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputNumber">
                                        사업자등록번호
                                    </h5>
                                    <input type="text" th:field="*{bussinessNum}" class="form-control" id="inputNumber" required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputPhone">
                                        가게 전화번호
                                    </h5>
                                    <input type="text" th:field="*{storeNum}" class="form-control" id="inputPhone" required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputAddress">
                                        가게 주소
                                    </h5>
                                    <input id="member_post"  type="text" placeholder="Zip Code" readonly onclick="findAddr()" required>
                                    <input id="member_addr" type="text" placeholder="Address" th:field="*{storeAddress}" readonly> <br>
                                    <input type="text" th:field="*{storeDetailAddress}" placeholder="Detailed Address" required>
                                </div>

                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputDescription">
                                        한줄소개
                                    </h5>
                                    <input type="text" th:field ="*{storeShortDescription}" class="form-control" id="inputDescription" required/>
                                </div>

                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputImg">
                                        상세페이지 이미지 첨부
                                    </h5>
                                    <input type="file" class="form-control-file" id="inputDetailImg" onchange="uploadStoreDetailImg(this)" accept=".png, .jpg, .jpeg"/>
                                    <input type="text" id = 'storeDetailImg' style="display: none" th:field = "*{storeDetailImg}"/>
                                </div>


                                <h3 for="inputDescription" style="margin:30px; margin-top:80px; ">
                                    케이크 옵션 영역 설정
                                </h3>


                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputOption1">
                                        1. 케이크 디자인
                                    </h5>
                                    <div class="input-group">
                                        <input type="text" id = "inputCakeDesign" class="form-control" placeholder="추가할 옵션명을 입력하세요">
                                        <input type="text" id = "inputCakeDesignPrice" class="form-control" placeholder="가격을 입력하세요">
                                        <button type="button" class="btn" id = "addCakeDesign" style="color:white; background-color:black;">추가</button>
                                    </div>
                                    <div>
                                        <ul style="list-style: none; float: left" id = "cakeDesignList"></ul>
                                        <input type="text" id = 'design' style="display: none" th:field = "*{designList}"/>
                                    </div>
                                </div>

                                <div style="height: 1px"></div>

                                <div class="form-group" style="margin:30px;">
                                    <h5 for="inputOption1">
                                        2. 케이크 호수
                                    </h5>
                                    <div class="input-group">
                                        <input type="text" id = "inputCakeSize" class="form-control" placeholder="추가할 옵션명을 입력하세요">
                                        <input type="text" id = "inputCakeSizePrice" class="form-control" placeholder="가격을 입력하세요">
                                        <button type="button" class="btn" id = "addCakeSize" style="color:white; background-color:black;">추가</button>
                                    </div>
                                    <div>
                                        <ul style="list-style: none; float: left" id = "cakeSizeList"></ul>
                                        <input type="text" id = 'size' style="display: none" th:field = "*{sizeList}"/>
                                    </div>
                                </div>

                                <div style="height: 1px"></div>

                                <div class="form-group" style="margin:30px;">
                                    <h5 for="inputOption1">
                                        3. 케이크 시트맛
                                    </h5>
                                    <div class="input-group">
                                        <input type="text" id = "inputCakeSheet" class="form-control" placeholder="추가할 옵션명을 입력하세요">
                                        <input type="text" id = "inputCakeSheetPrice" class="form-control" placeholder="가격을 입력하세요">
                                        <button type="button" class="btn" id = "addCakeSheet" style="color:white; background-color:black;">추가</button>
                                    </div>
                                    <div>
                                        <ul style="list-style: none; float: left" id = "cakeSheetList"></ul>
                                        <input type="text" id = 'sheet' style="display: none" th:field = "*{sheetList}"/>
                                    </div>
                                </div>

                                <div style="height: 1px"></div>

                                <div class="form-group" style="margin:30px;">
                                    <h5 for="inputOption1">
                                        4. 케이크 크림맛
                                    </h5>
                                    <div class="input-group">
                                        <input type="text" id = "inputCakeCream" class="form-control" placeholder="추가할 옵션명을 입력하세요">
                                        <input type="text" id = "inputCakeCreamPrice" class="form-control" placeholder="추가할 옵션명을 입력하세요">
                                        <button type="button" class="btn" id = "addCakeCream" style="color:white; background-color:black;">추가</button>
                                    </div>
                                    <div>
                                        <ul style="list-style: none; float: left" id = "cakeCreamList"></ul>
                                        <input type="text" id = 'cream' style="display: none" th:field = "*{creamList}"/>
                                    </div>
                                </div>

                                <div style="height: 1px"></div>

                                <div class="form-group" style="margin:30px;">
                                    <h5 for="inputOption1">
                                        5. 케이크 크림색
                                    </h5>
                                    <div class="input-group">
                                        <input type="text" id = "inputCakeCreamColor" class="form-control" placeholder="추가할 옵션명을 입력하세요">
                                        <input type="text" id = "inputCakeCreamColorPrice" class="form-control" placeholder="가격을 입력하세요">
                                        <button type="button" class="btn" id = "addCakeCreamColor" style="color:white; background-color:black;">추가</button>
                                    </div>
                                    <div>
                                        <ul style="list-style: none; float: left" id = "cakeCreamColorList"></ul>
                                        <input type="text" id = 'creamColor' style="display: none" th:field = "*{creamColorList}"/>
                                    </div>
                                </div>

                                <div style="height: 1px"></div>

                                <div class="form-group" style="margin:30px;">
                                    <h5 for="inputOption1">
                                        6. 레터링 색
                                    </h5>
                                    <div class="input-group">
                                        <input type="text" id = "inputCakeLetter" class="form-control" placeholder="추가할 옵션명을 입력하세요">
                                        <input type="text" id = "inputCakeLetterPrice" class="form-control" placeholder="가격을 입력하세요">
                                        <button type="button" class="btn" id = "addCakeLetter" style="color:white; background-color:black;">추가</button>
                                    </div>
                                    <div>
                                        <ul style="list-style: none; float: left" id = "cakeLetterList"></ul>
                                        <input type="text" id = 'letter' style="display: none" th:field = "*{letterList}"/>
                                    </div>
                                </div>

                                <div style="height: 1px"></div>

                                <div align="center">
                                    <button class="btn bg-purple me-3" style="color:white;margin:30px;width:95%;height:40px" onclick="submitData()" type="submit">작성완료</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </main>
            <!-- Main Content -->
        </div>

        <div class="col-12 align-self-end">
            <!-- Footer -->
            <footer class="row">
                <div class="col-12 bg-purple text-white pb-5 pt-5">
                    <div class="row">
                        <div class="col-12 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer-logo">
                                        <a href="/sellers/myshop">Cake.zip</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <address>
                                        Quokka TF<br/>
                                        Seoul, Korea
                                    </address>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            kayeong-kim@nhn-commerce.com
                                        </li>
                                        <li>
                                            hwijeong-lee@nhn-commerce.com
                                        </li>
                                        <li>
                                            hyerim-hwang@nhn-commerce.com
                                        </li>
                                        <li>
                                            gyoungmin-yoo@nhn-commerce.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

</div>
<script>
    /**
     * 주소 찾기
     * */
    function findAddr(){
        new daum.Postcode({
            oncomplete: function(data) {

                console.log(data);

                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var jibunAddr = data.jibunAddress; // 지번 주소 변수

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('member_post').value = data.zonecode;
                if(roadAddr !== ''){
                    document.getElementById("member_addr").value = roadAddr;
                }
                else if(jibunAddr !== ''){
                    document.getElementById("member_addr").value = jibunAddr;
                }
            }
        }).open();
    }

    let count = 1;

    /**
     * 케이크 디자인
     * */
    let inputCakeDesign = document.getElementById('inputCakeDesign');
    let inputDesignPrice = document.getElementById('inputCakeDesignPrice');
    let addCakeDesign = document.getElementById('addCakeDesign');
    let cakeDesignList = document.getElementById('cakeDesignList');

    addCakeDesign.addEventListener('click', function(){
        var list = document.createElement('li');
        if (!inputCakeDesign.value || !inputDesignPrice.value)
            alert('내용을 입력해 주세요!');
        else
        {
            list.setAttribute("id","li"+count);

            var blank_pattern = /[\s]/g;
            if(blank_pattern.test(inputCakeDesign.value) == true){
                alert('공백 없이 입력해주세요.(공백시 _, - 등으로 연결)');
                inputCakeDesign.value = ""
                return
            }

            if(isNaN(inputDesignPrice.value)) {
                alert('가격은 숫자여야합니다.')
                inputDesignPrice.value = ""
                return;
            } else {
                let num = parseInt(inputDesignPrice.value)
                if(num <= 0) {
                    alert('가격은 음수나 0이 될 수 없습니다.')
                    inputDesignPrice.value = ""
                    return;
                }
            }

            list.innerHTML = inputCakeDesign.value;
            list.innerHTML += " ";
            list.innerHTML += inputDesignPrice.value;
            list.innerHTML += "원"
            list.innerHTML += "<button style='float: right; border: none; margin: 0px' class='btn btn-outline-secondary' type='button' onclick='remove1("+count+")'><img src=\"/images/removebtn.png\" width=\"15px\" height=\"15px\" alt=\"\"></button>"
            list.innerHTML += "  ";

            list.style.float = "left";
            list.style.marginLeft = "15px";

            cakeDesignList.appendChild(list);
            console.log(cakeDesignList.textContent)
            inputCakeDesign.value= "";
            inputDesignPrice.value= "";

            count++
        }
    })

    function remove1(cnt) {
        var li = document.getElementById('li'+cnt);
        cakeDesignList.removeChild(li);
    }

    /**
     * 케이크 호수
     * */
    let inputCakeSize = document.getElementById('inputCakeSize');
    let inputCakeSizePrice = document.getElementById('inputCakeSizePrice');
    let addCakeSize = document.getElementById('addCakeSize');
    let cakeSizeList = document.getElementById('cakeSizeList');

    addCakeSize.addEventListener('click', function(){
        var list = document.createElement('li');
        if (!inputCakeSize.value || !inputCakeSizePrice.value)
            alert('내용을 입력해 주세요!');
        else
        {
            list.setAttribute("id","li"+count);

            var blank_pattern = /[\s]/g;
            if(blank_pattern.test(inputCakeSize.value) == true){
                alert('공백 없이 입력해주세요.(공백시 _, - 등으로 연결)');
                inputCakeSize.value = ""
                return
            }

            if(isNaN(inputCakeSizePrice.value)) {
                alert('가격은 숫자여야합니다.')
                inputCakeSizePrice.value = ""
                return;
            } else {
                let num = parseInt(inputCakeSizePrice.value)
                if(num <= 0) {
                    alert('가격은 음수나 0이 될 수 없습니다.')
                    inputCakeSizePrice.value = ""
                    return;
                }
            }

            list.innerHTML = inputCakeSize.value;
            list.innerText += " "
            list.innerHTML += inputCakeSizePrice.value;
            list.innerHTML += "원"
            list.innerHTML += "<button style='float: right; border: none; margin: 0px' class='btn btn-outline-secondary' type='button' onclick='remove2("+count+")'><img src=\"/images/removebtn.png\" width=\"15px\" height=\"15px\" alt=\"\"></button>"
            list.innerHTML += "  ";

            list.style.float = "left";
            list.style.marginLeft = "15px";

            cakeSizeList.appendChild(list);

            inputCakeSize.value= "";
            inputCakeSizePrice.value="";
            count++
        }
    })

    function remove2(cnt) {
        var li = document.getElementById('li'+cnt);
        cakeSizeList.removeChild(li);
    }

    /**
     * 케이크 시트
     * */
    let inputCakeSheet = document.getElementById('inputCakeSheet');
    let inputCakeSheetPrice = document.getElementById('inputCakeSheetPrice');
    let addCakeSheet = document.getElementById('addCakeSheet');
    let cakeSheetList = document.getElementById('cakeSheetList');

    addCakeSheet.addEventListener('click', function(){
        var list = document.createElement('li');
        if (!inputCakeSheet.value || !inputCakeSheetPrice.value)
            alert('내용을 입력해 주세요!');
        else
        {
            list.setAttribute("id","li"+count);

            var blank_pattern = /[\s]/g;
            if(blank_pattern.test(inputCakeSheet.value) == true){
                alert('공백 없이 입력해주세요.(공백시 _, - 등으로 연결)');
                inputCakeSheet.value = ""
                return
            }

            if(isNaN(inputCakeSheetPrice.value)) {
                alert('가격은 숫자여야합니다.')
                inputCakeSheetPrice.value = ""
                return;
            } else {
                let num = parseInt(inputCakeSheetPrice.value)
                if(num <= 0) {
                    alert('가격은 음수나 0이 될 수 없습니다.')
                    inputCakeSheetPrice.value = ""
                    return;
                }
            }

            list.innerHTML = inputCakeSheet.value;
            list.innerText += " "
            list.innerHTML += inputCakeSheetPrice.value;
            list.innerHTML += "원"
            list.innerHTML += "<button style='float: right; border: none; margin: 0px' class='btn btn-outline-secondary' type='button' onclick='remove3("+count+")'><img src=\"/images/removebtn.png\" width=\"15px\" height=\"15px\" alt=\"\"></button>"
            list.innerHTML += "  ";

            list.style.float = "left";
            list.style.marginLeft = "15px";

            cakeSheetList.appendChild(list);
            console.log(cakeSheetList.textContent)
            inputCakeSheet.value= "";
            inputCakeSheetPrice.value = "";
            count++
        }
    })

    function remove3(cnt) {
        var li = document.getElementById('li'+cnt);
        cakeSheetList.removeChild(li);
    }

    /**
     * 케이크 크림
     * */
    let inputCakeCream = document.getElementById('inputCakeCream');
    let inputCakeCreamPrice = document.getElementById('inputCakeCreamPrice');
    let addCakeCream = document.getElementById('addCakeCream');
    let cakeCreamList = document.getElementById('cakeCreamList');

    addCakeCream.addEventListener('click', function(){
        var list = document.createElement('li');
        if (!inputCakeCream.value || !inputCakeCreamPrice.value)
            alert('내용을 입력해 주세요!');
        else
        {
            list.setAttribute("id","li"+count);

            var blank_pattern = /[\s]/g;
            if(blank_pattern.test(inputCakeCream.value) == true){
                alert('공백 없이 입력해주세요.(공백시 _, - 등으로 연결)');
                inputCakeCream.value = ""
                return
            }

            if(isNaN(inputCakeCreamPrice.value)) {
                alert('가격은 숫자여야합니다.')
                inputCakeCreamPrice.value = ""
                return;
            }else {
                let num = parseInt(inputCakeCreamPrice.value)
                if(num <= 0) {
                    alert('가격은 음수나 0이 될 수 없습니다.')
                    inputCakeCreamPrice.value = ""
                    return;
                }
            }

            list.innerHTML = inputCakeCream.value;
            list.innerText += " "
            list.innerHTML += inputCakeCreamPrice.value;
            list.innerHTML += "원"
            list.innerHTML += "<button style='float: right; border: none; margin: 0px' class='btn btn-outline-secondary' type='button' onclick='remove4("+count+")'><img src=\"/images/removebtn.png\" width=\"15px\" height=\"15px\" alt=\"\"></button>"
            list.innerHTML += "  ";

            list.style.float = "left";
            list.style.marginLeft = "15px";

            cakeCreamList.appendChild(list);
            console.log(cakeCreamList.textContent)
            inputCakeCream.value= "";
            inputCakeCreamPrice.value="";
            count++
        }
    })

    function remove4(cnt) {
        var li = document.getElementById('li'+cnt);
        cakeCreamList.removeChild(li);
    }

    /**
     * 케이크 크림 색
     * */
    let countCreamColor = 1;
    let inputCakeCreamColor = document.getElementById('inputCakeCreamColor');
    let inputCakeCreamColorPrice = document.getElementById('inputCakeCreamColorPrice');
    let addCakeCreamColor = document.getElementById('addCakeCreamColor');
    let cakeCreamColorList = document.getElementById('cakeCreamColorList');

    addCakeCreamColor.addEventListener('click', function(){
        var list = document.createElement('li');
        if (!inputCakeCreamColor.value || !inputCakeCreamColorPrice.value)
            alert('내용을 입력해 주세요!');
        else
        {
            list.setAttribute("id","li"+count);

            var blank_pattern = /[\s]/g;
            if(blank_pattern.test(inputCakeCreamColor.value) == true){
                alert('공백 없이 입력해주세요.(공백시 _, - 등으로 연결)');
                inputCakeCreamColor.value = ""
                return
            }

            if(isNaN(inputCakeCreamColorPrice.value)) {
                alert('가격은 숫자여야합니다.')
                inputCakeCreamColorPrice.value = ""
                return;
            } else {
                let num = parseInt(inputCakeCreamColorPrice.value)
                if(num <= 0) {
                    alert('가격은 음수나 0이 될 수 없습니다.')
                    inputCakeCreamColorPrice.value = ""
                    return;
                }
            }


            list.innerHTML = inputCakeCreamColor.value;
            list.innerText += " "
            list.innerHTML += inputCakeCreamColorPrice.value;
            list.innerHTML += "원"
            list.innerHTML += "<button style='float: right; border: none; margin: 0px' class='btn btn-outline-secondary' type='button' onclick='remove5("+count+")'><img src=\"/images/removebtn.png\" width=\"15px\" height=\"15px\" alt=\"\"></button>"
            list.innerHTML += "  ";

            list.style.float = "left";
            list.style.marginLeft = "15px";

            cakeCreamColorList.appendChild(list);
            console.log(cakeCreamColorList.textContent)
            inputCakeCreamColor.value= "";
            inputCakeCreamColorPrice.value= ""

            count++
        }
    })

    function remove5(cnt) {
        var li = document.getElementById('li'+cnt);
        cakeCreamColorList.removeChild(li);
    }

    /**
     * 케이크 레터링색
     * */
    let countLetter = 1;
    let inputCakeLetter = document.getElementById('inputCakeLetter');
    let inputCakeLetterPrice = document.getElementById('inputCakeLetterPrice');
    let addCakeLetter = document.getElementById('addCakeLetter');
    let cakeLetterList = document.getElementById('cakeLetterList');

    addCakeLetter.addEventListener('click', function(){
        var list = document.createElement('li');
        if (!inputCakeLetter.value || !inputCakeLetterPrice.value)
            alert('내용을 입력해 주세요!');
        else
        {
            list.setAttribute("id","li"+count);

            var blank_pattern = /[\s]/g;
            if(blank_pattern.test(inputCakeLetter.value) == true){
                alert('공백 없이 입력해주세요.(공백시 _, - 등으로 연결)');
                inputCakeLetter.value = ""
                return
            }

            if(isNaN(inputCakeLetterPrice.value)) {
                alert('가격은 숫자여야합니다.')
                inputCakeLetterPrice.value = ""
                return;
            } else {
                let num = parseInt(inputCakeLetterPrice.value)
                if(num <= 0) {
                    alert('가격은 음수나 0이 될 수 없습니다.')
                    inputCakeLetterPrice.value = ""
                    return;
                }
            }

            list.innerHTML = inputCakeLetter.value;
            list.innerText += " "
            list.innerHTML += inputCakeLetterPrice.value;
            list.innerHTML += "원"
            list.innerHTML += "<button style='float: right; border: none; margin: 0px' class='btn btn-outline-secondary' type='button' onclick='remove6("+count+")'><img src=\"/images/removebtn.png\" width=\"15px\" height=\"15px\" alt=\"\"></button>"
            list.innerHTML += "  ";

            list.style.float = "left";
            list.style.marginLeft = "15px";

            cakeLetterList.appendChild(list);

            console.log(cakeLetterList.textContent)
            inputCakeLetter.value= "";
            inputCakeLetterPrice.value = ""
            count++
        }
    })

    function remove6(cnt) {
        var li = document.getElementById('li'+cnt);
        cakeLetterList.removeChild(li);
    }

    function submitData() {
        let design = document.getElementById('design')
        design.value = cakeDesignList.textContent

        let size = document.getElementById('size')
        size.value = cakeSizeList.textContent

        let sheet = document.getElementById('sheet')
        sheet.value = cakeSheetList.textContent

        let cream = document.getElementById('cream')
        cream.value = cakeCreamList.textContent

        let creamColor = document.getElementById('creamColor')
        creamColor.value = cakeCreamColorList.textContent

        let letter = document.getElementById('letter')
        letter.value = cakeLetterList.textContent
    }

    let imgList = ""

    function uploadStoreImgList(data) {
        imgList = document.getElementById('storeImgList')
        uploadImg(data)
    }

    function uploadStoreDetailImg(data) {
        imgList = document.getElementById('storeDetailImg')
        uploadImg(data)
    }


    function uploadImg(objectFile) {

        var files = objectFile.files
        var filesArr =Array.prototype.slice.call(files);

        // 업로드 된 파일 유효성 체크
        if (filesArr.length > 4) {
            alert("이미지는 최대 4개까지 업로드 가능합니다.");
            return;
        }

        var formData = new FormData()
        for (let i = 0; i < filesArr.length; i++) {
            formData.append("images", filesArr[i]);  // 배열에서 이미지들을 꺼내 폼 객체에 담는다.
        }

        $.ajax({
            url : "/image",
            type : "POST",
            enctype:"multipart/form-data",
            processData: false,
            contentType: false,
            data : formData,
            async : false,
            success: function(result) {
                imgList.value = result
                alert("사진 업로드 성공")
                return;
            },
            err: function () {
                alert("사진 업로드 실패")
            }
        })
    }

</script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=CLIENT_KEY&submodules=geocoder"></script>
</body>
</html>