<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>

    <link href="/fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="/fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container-fluid">

    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <!-- Top Nav -->

                <div class="col-12 bg-purple py-2 d-md-block d-none">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="tel:+123-456-7890"><i class="fa fa-phone-square me-2"></i>+123-456-7890</a>
                                </li>
                                <li>
                                    <a href="mailto:cakezip@cake.com"><i class="fa fa-envelope me-2"></i>cakezip@cake.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="register.html"><i class="fas fa-user-edit me-2"></i>회원가입</a>
                                </li>
                                <li>
                                    <a href="login.html"><i class="fas fa-sign-in-alt me-2"></i>로그인</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Nav -->

                <!-- Header -->
                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left">
                                <a href="index.html" style="">Cake.zip</a>
                            </div>
                        </div>
                        <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="search" class="form-control border-dark" placeholder="검색어를 입력하세요" required>
                                        <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-auto text-center text-lg-left header-item-holder">
                            <a href="#" class="header-item">
                                <i class="fas fa-heart me-2"></i><span id="header-favorite">0</span>
                            </a>
                            <a href="cart.html" class="header-item">
                                <i class="fas fa-shopping-bag me-2"></i><span id="header-qty" class="me-3">2</span>
                                <i class="fas fa-money-bill-wave me-2"></i><span id="header-price">$4,000</span>
                            </a>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                            <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="mainNav">
                                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="index.html">전체보기<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="electronics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">지역별 보기</a>
                                        <div class="dropdown-menu" aria-labelledby="electronics">
                                            <a class="dropdown-item" href="category.html">서울</a>
                                            <a class="dropdown-item" href="category.html">부산</a>
                                        </div>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Nav -->

                </div>
                <!-- Header -->

            </header>
        </div>

        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="col-12 pt-3 bg-lightpurple text-center text-uppercase" style="color:#AD81D5">
                    <h2>케이크 가게 수정</h2>
                    <p>가게 정보 및 옵션 정보를 수정할 수 있어요!</p>
                </div>
            </div>

            <main class="row">
                <div class="col-12 bg-white py-3 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">

                            <form th:action ="@{/sellers/myshop/info/{shopId} (shopId = ${shop.getShopId()})}" method="post">
                                <input type="hidden" name="_method" value="PUT"/>

                                <h3 for="inputDescription" style="margin:30px; ">
                                    가게 기본 정보
                                </h3>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputName">
                                        가게이름
                                    </h5>
                                    <input type="text" class="form-control" id="inputName" name="shopName" th:value = "${shop.getShopName()}"  required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputImg">
                                        가게 대표 사진 4장
                                    </h5>
                                    <div class="form-group" style="margin:30px">
                                        <a th:href="@{/shops/image/{id} (id = ${shop.getShopId()})}">
                                            가게 대표 사진 4장 조회 및 수정
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputNumber">
                                        사업자등록번호
                                    </h5>
                                    <input type="text" th:value ="${shop.getBusinessNum()}" name="businessNum" class="form-control" id="inputNumber" required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputPhone">
                                        가게 전화번호
                                    </h5>
                                    <input type="text" th:value="${shop.getShopPhoneNum()}" name="shopPhoneNum" class="form-control" id="inputPhone" required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputAddress">
                                        가게 주소
                                    </h5>
                                    <input id="member_post"  type="text" placeholder="Zip Code" readonly onclick="findAddr()" required>
                                    <input id="member_addr" type="text" placeholder="Address" name="shopAddressMain" th:value="${shop.getShopAddressMain()}" readonly> <br>
                                    <input type="text" th:value="${shop.getShopAddressDetail()}" name="shopAddressDetail" placeholder="Detailed Address" required>
                                </div>

                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputDescription">
                                        한줄소개
                                    </h5>
                                    <input type="text" th:value ="${shop.getShopShortDescriptor()}" name="shopShortDescriptor" class="form-control" id="inputDescription" required/>
                                </div>

                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputImg">
                                        상세페이지 이미지 첨부
                                    </h5>
                                    <input type="file" class="form-control-file" id="inputDetailImg" onchange="uploadStoreDetailImg(this)" accept=".png, .jpg, .jpeg"/>
                                    <img th:src="${shop.getShopImgDescriptionUrl()}" style="width: 400px; height: 400px" id = 'storeDetailImg' name = "shopImgDescriptionUrl">
                                    <input type="text" style="display: none" th:value = "${shop.getShopImgDescriptionUrl()}" id = 'storeDetailImgInput' name = "shopImgDescriptionUrl">
                                </div>

                                <div align="center">
                                    <button class="btn bg-purple me-3" style="color:white;margin:30px;width:95%;height:40px" type="submit">수정 완료</button>
                                </div>
                            </form>

                            <h3 for="inputDescription" style="margin:30px; margin-top:80px; ">
                                케이크 옵션 조회 수정하러 가는 버튼
                            </h3>
                            <hr>
                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/options/design/{id} (id = ${shop.getShopId()})}">
                                    디자인 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/options/size/{id} (id = ${shop.getShopId()})}">
                                    사이즈 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/options/sheet/{id} (id = ${shop.getShopId()})}">
                                    시트 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/options/cream/{id} (id = ${shop.getShopId()})}">
                                    크림 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/options/creamcolor/{id} (id = ${shop.getShopId()})}">
                                    크림색 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/options/letter/{id} (id = ${shop.getShopId()})}">
                                    글자색 조회 및 수정
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <form th:action ="@{/sellers/myshop/{id} (id = ${shop.getShopId()})}" method="post">
                    <input type="hidden" name="_method" value="PUT"/>
                    <input type="submit" value="가게 삭제">
                </form>


            </main>
            <!-- Main Content -->
        </div>

        <div class="col-12 align-self-end">
            <!-- Footer -->
            <footer class="row">
                <div class="col-12 bg-dark text-white pb-3 pt-5">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer-logo">
                                        <a href="index.html">E-Commerce</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <address>
                                        221B Baker Street<br>
                                        London, England
                                    </address>
                                </div>
                                <div class="col-12">
                                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12 text-uppercase">
                                    <h4>Who are we?</h4>
                                </div>
                                <div class="col-12 text-justify">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet vel ligula vel sodales. Aenean vel ullamcorper purus, ac pharetra arcu. Nam enim velit, ultricies eu orci nec, aliquam efficitur sem. Quisque in sapien a sem vestibulum volutpat at eu nibh. Suspendisse eget est metus. Maecenas mollis quis nisl ac malesuada. Donec gravida tortor massa, vitae semper leo sagittis a. Donec augue turpis, rutrum vitae augue ut, venenatis auctor nulla. Sed posuere at erat in consequat. Nunc congue justo ut ante sodales, bibendum blandit augue finibus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3 col-5 ms-lg-auto ms-sm-0 ms-auto mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12 text-uppercase">
                                    <h4>Quick Links</h4>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="#">Terms & Conditions</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 me-auto mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12 text-uppercase text-underline">
                                    <h4>Help</h4>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            <a href="#">FAQs</a>
                                        </li>
                                        <li>
                                            <a href="#">Shipping</a>
                                        </li>
                                        <li>
                                            <a href="#">Returns</a>
                                        </li>
                                        <li>
                                            <a href="#">Track Order</a>
                                        </li>
                                        <li>
                                            <a href="#">Report Fraud</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 text-center text-sm-left">
                            <div class="row">
                                <div class="col-12 text-uppercase">
                                    <h4>Newsletter</h4>
                                </div>
                                <div class="col-12">
                                    <form action="#">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" placeholder="Enter your email..." required>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-outline-light text-uppercase">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

</div>
<script>
    /**
     * 주소 찾기
     * */
    function findAddr(){
        new daum.Postcode({
            oncomplete: function(data) {

                console.log(data);

                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var jibunAddr = data.jibunAddress; // 지번 주소 변수
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('member_post').value = data.zonecode;
                if(roadAddr !== ''){
                    document.getElementById("member_addr").value = roadAddr;
                }
                else if(jibunAddr !== ''){
                    document.getElementById("member_addr").value = jibunAddr;
                }
            }
        }).open();
    }


    var imgList = ""
    var imgListInput = ""
    function uploadStoreDetailImg(data) {
        imgList = document.getElementById('storeDetailImg')
        imgListInput = document.getElementById('storeDetailImgInput')
        console.log(imgList)
        uploadImg(data)
    }


    function uploadImg(objectFile) {

        var files = objectFile.files
        var filesArr =Array.prototype.slice.call(files);
        // var inputValue = document.getElementById("inputShopImg")
        // console.log(inputValue)
        console.log(filesArr)

        // 업로드 된 파일 유효성 체크
        if (filesArr.length > 4) {
            alert("이미지는 최대 4개까지 업로드 가능합니다.");
            return;
        }
        // var inputFileList = new Array();

        // filesArr.forEach(function(f) {
        //     inputFileList.push(f);    // 이미지 파일을 배열에 담는다.
        // });

        // console.log("inputFileList: " + inputFileList);


        var formData = new FormData()
        for (let i = 0; i < filesArr.length; i++) {
            formData.append("images", filesArr[i]);  // 배열에서 이미지들을 꺼내 폼 객체에 담는다.
        }
        console.log(formData)


        $.ajax({
            url : "/image",
            type : "POST",
            enctype:"multipart/form-data",
            processData: false,
            contentType: false,
            data : formData,
            async : false,
            success: function(d) {
                console.log(d)
                imgList.src = d
                imgListInput.value = d
                alert("성공")
                return;
            },
            err: function () {
                alert("실패")
            }
        })
    }




</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=CLIENT_KEY&submodules=geocoder"></script>
</body>
</html>