<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        /**
         * 주소 찾기
         * */
        function findAddr(){
            new daum.Postcode({
                oncomplete: function(data) {

                    console.log(data);

                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var jibunAddr = data.jibunAddress; // 지번 주소 변수
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('member_post').value = data.zonecode;
                    if(roadAddr !== ''){
                        document.getElementById("member_addr").value = roadAddr;
                    }
                    else if(jibunAddr !== ''){
                        document.getElementById("member_addr").value = jibunAddr;
                    }
                }
            }).open();
        }


        var imgList = ""
        var imgListInput = ""
        function uploadStoreDetailImg(data) {
            imgList = document.getElementById('storeDetailImg')
            imgListInput = document.getElementById('storeDetailImgInput')
            console.log(imgList)
            uploadImg(data)
        }


        function uploadImg(objectFile) {

            var files = objectFile.files
            var filesArr =Array.prototype.slice.call(files);
            // var inputValue = document.getElementById("inputShopImg")
            // console.log(inputValue)
            console.log(filesArr)

            // 업로드 된 파일 유효성 체크
            if (filesArr.length > 4) {
                alert("이미지는 최대 4개까지 업로드 가능합니다.");
                return;
            }

            var formData = new FormData()
            for (let i = 0; i < filesArr.length; i++) {
                formData.append("images", filesArr[i]);  // 배열에서 이미지들을 꺼내 폼 객체에 담는다.
            }
            console.log(formData)


            $.ajax({
                url : "/image",
                type : "POST",
                enctype:"multipart/form-data",
                processData: false,
                contentType: false,
                data : formData,
                async : false,
                success: function(d) {
                    console.log(d)
                    imgList.src = d
                    imgListInput.value = d
                    alert("성공")
                    return;
                },
                err: function () {
                    alert("실패")
                }
            })
        }




    </script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=CLIENT_KEY&submodules=geocoder"></script>
</head>
<body>

<div class="container-fluid" layout:fragment="content">

    <div class="row min-vh-100">


        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="col-12 pt-3 bg-lightpurple text-center text-uppercase" style="color:#AD81D5">
                    <h2>케이크 가게 정보 수정</h2>
                    <p>가게 정보 및 옵션 정보를 수정할 수 있어요!</p>
                </div>
            </div>

            <main class="row bg-white py-3">
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto py-3" style="border: 1px solid #EDE7F6; border-radius: 0.2rem; display: block;">

                            <form th:action ="@{/sellers/myshop/info}" method="post">
                                <input type="hidden" name="_method" value="PUT"/>

                                <h3 for="inputDescription" style="margin:30px; ">
                                    가게 기본 정보
                                </h3>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputName">
                                        가게이름
                                    </h5>
                                    <input type="text" class="form-control" id="inputName" name="shopName" th:value = "${shop.getShopName()}"  required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputImg">
                                        가게 대표 사진 4장
                                    </h5>
                                    <div class="form-group">
                                        <a th:href="@{/sellers/myshop/image}" class="btn btn-purple btn-md">
                                            가게 대표 사진 4장 조회 및 수정
                                        </a>
                                    </div>
                                </div>

                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputNumber">
                                        사업자등록번호
                                    </h5>
                                    <input type="text" th:value ="${shop.getBusinessNum()}" name="businessNum" class="form-control" id="inputNumber" required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputPhone">
                                        가게 전화번호
                                    </h5>
                                    <input type="text" th:value="${shop.getShopPhoneNum()}" name="shopPhoneNum" class="form-control" id="inputPhone" required/>
                                </div>
                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputAddress">
                                        가게 주소
                                    </h5>
                                    <input id="member_post"  type="text" placeholder="Zip Code" readonly onclick="findAddr()" required>
                                    <input id="member_addr" type="text" placeholder="Address" name="shopAddressMain" th:value="${shop.getShopAddressMain()}" readonly> <br>
                                    <input type="text" th:value="${shop.getShopAddressDetail()}" name="shopAddressDetail" placeholder="Detailed Address" required>
                                </div>

                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputDescription">
                                        한줄소개
                                    </h5>
                                    <input type="text" th:value ="${shop.getShopShortDescriptor()}" name="shopShortDescriptor" class="form-control" id="inputDescription" required/>
                                </div>

                                <div class="form-group" style="margin:30px">
                                    <h5 for="inputImg">
                                        상세페이지 이미지 첨부
                                    </h5>
                                    <input type="file" class="form-control-file" id="inputDetailImg" onchange="uploadStoreDetailImg(this)" accept=".png, .jpg, .jpeg"/>
                                    <img th:src="${shop.getShopImgDescriptionUrl()}" style="width: 400px; height: 400px" id = 'storeDetailImg' name = "shopImgDescriptionUrl">
                                    <input type="text" style="display: none" th:value = "${shop.getShopImgDescriptionUrl()}" id = 'storeDetailImgInput' name = "shopImgDescriptionUrl">
                                </div>
                                <div style="margin:30px">
                                    <div style="display: inline-block;">
                                        <button class="btn btn-md" type="submit" style="background-color: #AD81D5; color: white;">수정 완료</button>
                                    </div>
                                    <div style="display: inline-block;">
                                        <form th:action ="@{/sellers/myshop}" method="post">
                                            <input type="hidden" name="_method" value="PUT"/>
                                            <input type="submit" value="가게 삭제" class="btn btn-outline-secondary btn-md">
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto py-3" style="border: 1px solid #EDE7F6; border-radius: 0.2rem; display: block !important;">

                            <h3 for="inputDescription" style="margin:30px;">
                                케이크 옵션 조회 및 수정
                            </h3>
                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/sellers/myshop/options/show/design}" class="btn btn-purple btn-md">
                                    디자인 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/sellers/myshop/options/show/size}" class="btn btn-purple btn-md">
                                    사이즈 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/sellers/myshop/options/show/sheet}" class="btn btn-purple btn-md">
                                    시트 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/sellers/myshop/options/show/cream}" class="btn btn-purple btn-md">
                                    크림 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/sellers/myshop/options/show/creamcolor}" class="btn btn-purple btn-md">
                                    크림색 조회 및 수정
                                </a>
                            </div>

                            <div class="form-group" style="margin:30px">
                                <a th:href="@{/sellers/myshop/options/show/letter}" class="btn btn-purple btn-md">
                                    글자색 조회 및 수정
                                </a>
                            </div>

                        </div>
                    </div>
                </div>




            </main>
            <!-- Main Content -->
        </div>
    </div>
</div>
</body>




</html>
