<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum">

    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <!-- Top Nav -->

                <div class="col-12 bg-purple py-2 d-md-block d-none">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="tel:+123-456-7890"><i class="fa fa-phone-square me-2"></i>+123-456-7890</a>
                                </li>
                                <li>
                                    <a href="mailto:cakezip@cake.com"><i class="fa fa-envelope me-2"></i>cakezip@cake.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Nav -->

                <!-- Header -->
                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left">
                                <a href="/sellers/myshop">Cake.zip</a>
                            </div>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                            <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#mainNav">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                        </nav>
                    </div>
                    <!-- Nav -->

                </div>
                <!-- Header -->

            </header>
        </div>

        <a th:href="@{/sellers/myshop/info}">
            사진 수정 그만하기 버튼
        </a>

        <br>
        <br>
        <br>
        <div>
            <input type="file" class="form-control-file" id="inputDetailImg" onchange="uploadStoreDetailImg(this)" accept=".png, .jpg, .jpeg"/>
        </div>

        <input type="text" id="shopId" style="display: none" th:value="${shop.getShopId()}">
        <div class="col-12">
            <table>
                <tr>
                    <th>사진</th>
                    <th>삭제</th>
                </tr>
                <tbody id = "pictureListId">
                    <tr th:each="image : ${shopImg}">
                        <td><img th:src="${image.getShopImgUrl()}"></td>
                        <td>
                            <form method="post" th:action="@{/sellers/myshop/image/{imageId} (imageId=${image.getShopImgId()})}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="사진 삭제">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Main Content -->
        </div>

        <div class="col-12 align-self-end">
            <!-- Footer -->
            <footer class="row">
                <div class="col-12 bg-purple text-white pb-5 pt-5">
                    <div class="row">
                        <div class="col-12 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer-logo">
                                        <a href="index.html">Cake.zip</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <address>
                                        Quokka TF<br/>
                                        Seoul, Korea
                                    </address>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            kayeong-kim@nhn-commerce.com
                                        </li>
                                        <li>
                                            hwijeong-lee@nhn-commerce.com
                                        </li>
                                        <li>
                                            hyerim-hwang@nhn-commerce.com
                                        </li>
                                        <li>
                                            gyoungmin-yoo@nhn-commerce.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

</div>
<script>

    function uploadStoreDetailImg(data) {
        uploadImg(data)
    }

    function uploadImg(objectFile) {
        let shopId = document.getElementById("shopId").value
        let pictureList = document.getElementById("pictureListId")

        var files = objectFile.files
        var filesArr =Array.prototype.slice.call(files);

        // 업로드 된 파일 유효성 체크
        if (pictureList.children.length >= 4) {
            alert("총 업로드 가능한 사진 수는 4장입니다.");
            return;
        }

        var formData = new FormData()
        for (let i = 0; i < filesArr.length; i++) {
            formData.append("image", filesArr[i]);  // 배열에서 이미지들을 꺼내 폼 객체에 담는다.
        }
        formData.append("shopId",shopId)

        $.ajax({
            url : "/sellers/myshop/image/new",
            type : "POST",
            enctype:"multipart/form-data",
            processData: false,
            contentType: false,
            data : formData,
            async : false,
            success: function(result) {
                alert("사진 업로드 성공")
                window.location.href = "/sellers/myshop/image"
                return;
            },
            err: function () {
                alert("사진 업로드 실패")
            }
        })
    }
</script>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>