<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">

    <div class="row min-vh-100">

        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="col-12 pt-3 bg-lightpurple text-center text-uppercase" style="color:#AD81D5">
                    <h2>내 정보 확인 및 수정</h2>
                </div>
            </div>

            <main class="row">
                <div class="col-12 bg-white py-3 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">



                            <!--                                <input class="form-control" readonly placeholder="ID">-->
                            <!--                                <input class="form-control" readonly placeholder="Password">-->

                            <div class="mb-3">
                                <label field="username">이메일</label>
                                <input readonly type="email" class="form-control" placeholder="kykim097@gmail.com">
                            </div>

                            <div class="mb-3">
                                <label field="username">비밀번호</label>
                                <input type="email" class="form-control" placeholder="비밀번호 입력">
                            </div>

                            <div class="mb-3">
                                <label field="username">비밀번호 확인</label>
                                <input type="email" class="form-control" placeholder="비밀번호 재입력">
                            </div>

                            <div class="mb-3">
                                <label field="username">전화번호</label>
                                <input type="phone" class="form-control" placeholder="010-1234-1234">
                            </div>

                            <div class="mb-3" id="birth" onchange="checkAgeModify()">

                                <div class="birth dropdown">
                                    <label class="mb-3 form-label" for="birth">생년월일 </label>

                                    <input type="date">
                                </div>


                            </div>

                            <div class="mb-3">
                                <label class="mb-3 form-label">성별 </label>

                                <select name="성별">
                                    <option value="">성별 선택</option>
                                    <option value="남">남</option>
                                    <option value="여">여</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="mb-3 form-label">선호 지역 </label>

                                <select name="선호 지역">
                                    <option value="">지역 선택</option>
                                    <option value="남">서울</option>
                                    <option value="여">부산</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <button class="w-100 btn btn-lg btn-purple" type="submit"
                                        onclick="">수정
                                </button>
                            </div>

                            <div class="mb-3">
                                <a type="button" class="w-100 btn btn-lg btn-outline-secondary"
                                   onclick="">취소</a>
                            </div>
                        </div>
                    </div>
                </div>


            </main>
            <!-- Main Content -->
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>