<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">

    <div class="row min-vh-100">
        <div class="col-12">
            <form method="post" th:object="${form}" th:action="@{/sellers/myshop/options/{optionId} (optionId=${cakeOption.getCakeOptionListId()})}">
                <input type="hidden" name="_method" value="PUT">
                <input type="text" th:value="${cakeOption.getOptionDetail()}" name="optionDetail">
                <input type="text" th:value="${cakeOption.getOptionPrice()}" name="optionPrice">
                <input type="submit" value="수정">
            </form>

            <a th:href="@{/sellers/myshop/options/show/{type} (type=${cakeOption.getOptionTitle().toString()})}">
                뒤로 가기
            </a>
            <!-- Main Content -->
        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>