<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

    <script>

        function uploadStoreDetailImg(data) {
            uploadImg(data)
        }

        function uploadImg(objectFile) {
            let shopId = document.getElementById("shopId").value
            let pictureList = document.getElementById("pictureListId")

            var files = objectFile.files
            var filesArr =Array.prototype.slice.call(files);

            // 업로드 된 파일 유효성 체크
            if (pictureList.children.length >= 4) {
                alert("총 업로드 가능한 사진 수는 4장입니다.");
                return;
            }

            var formData = new FormData()
            for (let i = 0; i < filesArr.length; i++) {
                formData.append("image", filesArr[i]);  // 배열에서 이미지들을 꺼내 폼 객체에 담는다.
            }
            formData.append("shopId",shopId)

            $.ajax({
                url : "/sellers/myshop/image/new",
                type : "POST",
                enctype:"multipart/form-data",
                processData: false,
                contentType: false,
                data : formData,
                async : false,
                success: function(result) {
                    alert("사진 업로드 성공")
                    window.location.href = "/sellers/myshop/image"
                    return;
                },
                err: function () {
                    alert("사진 업로드 실패")
                }
            })
        }



    </script>

</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">
    <div class="col-12">
        <!-- Main Content -->
        <div class="row">
            <div class="page-title col-12 py-3 bg-lightpurple text-center text-uppercase nanum text-purple">
                <h2>가게 대표 사진 수정 이미지 업로드</h2>
            </div>
        </div>

        <main class="row bg-white py-3">
            <div class="col-12 mb-3">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto py-3"
                         style="border: 1px solid #EDE7F6; border-radius: 0.2rem; display: block;">

                        <input type="text" id="shopId" style="display: none" th:value="${shop.getShopId()}">
                        <div class="col-12 mx-auto">
                            <div class="row mx-auto mb-3">
                            <table style="width: 70%; text-align: center; border: 1px solid #EDE7F6; border-radius: 0.2rem; ">
                                <tr>
                                    <th>사진</th>
                                    <th>삭제</th>
                                </tr>
                                <tbody id="pictureListId">
                                <tr th:each="image : ${shopImg}">
                                    <td><img th:src="${image.getShopImgUrl()}"></td>
                                    <td>
                                        <form method="post"
                                              th:action="@{/sellers/myshop/image/{imageId} (imageId=${image.getShopImgId()})}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="submit" value="사진 삭제">
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            <div class="row mx-auto mb-3">
                            <div style="display: inline-block; margin: 10px 0; border: 1px;">
                                <input type="file" class="form-control-file" id="inputDetailImg"
                                       onchange="uploadStoreDetailImg(this)"
                                       accept=".png, .jpg, .jpeg"/>
                            </div>
                            </div>
                        </div>
                        <div style="display: inline-block; margin: 10px 0; border: 1px; float: right;">
                            <a th:href="@{/sellers/myshop/info}" class="btn btn-outline-secondary btn-md">
                                뒤로가기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content -->
    </div>
</div>
</div>
</body>
</html>