<!DOCTYPE html>



<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>
    <style>
.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
</style>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<body>
<div class="container-fluid nanum" layout:fragment="content">
    <main class="row">

        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="col-12 pt-3 bg-lightpurple text-center text-uppercase " style="color:#AD81D5">
                    <h2>지도</h2>
                </div>
            </div>

            <div id="map" style="width:100%;height:700px;"></div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fc4b2dbba0859111556e37839ea5f8c8&libraries=services"></script>

            <script>
            function displayMarker(locPosition, message) {

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: locPosition
                });


                // 지도 중심좌표를 접속위치로 변경합니다
                map.setCenter(locPosition);
            }

            var res;
            console.log("start");

            $.ajax({
                type: 'GET',
                url: '/map/list',
                async:false,
                data: {},
                dataType: 'json',
                success: function(result) {
                    res=result;
                }

            });
            console.log(res);


            console.log("test");
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.4852, 126.9016), // 지도의 중심좌표
                    level: 9 // 지도의 확대 레벨
                };
            console.log("test");


            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            console.log("test");


            // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
            if (navigator.geolocation) {
                console.log("test");
                // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                navigator.geolocation.getCurrentPosition(function(position) {
                    console.log("test");
                    console.log(position);

                    var lat = position.coords.latitude, // 위도
                        lon = position.coords.longitude; // 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                        message = '<div style="padding:5px;">현재 위치</div>'; // 인포윈도우에 표시될 내용입니다

                    // 마커와 인포윈도우를 표시합니다
                    displayMarker(locPosition, message);
                    console.log("test");


                  });

            } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

                var locPosition = new kakao.maps.LatLng(37.4852, 126.9016),
                    message = 'GPS를 사용할 수 없습니다.'

                displayMarker(locPosition, message);
                console.log("gps ㅅㅏ용불가");
            }

            // 지도에 마커와 인포윈도우를 표시하는 함수입니다


            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();
            var imageSrc = 'https://cdn.crowdpic.net/detail-thumb/thumb_d_D90F49969FC4349B42013C569916F909.png',
                imageSize = new kakao.maps.Size(45, 45), // 마커이미지의 크기입니다
                imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

            console.log(res);
            var shop_id;
            for(let i=0; i<res.length; i++) {
                const tit = res[i]['shopName'];
                shop_id = res[i]['shopId'];
                console.log(res[i]['shopId']);
                geocoder.addressSearch(res[i]['shopAddress'], function(result, status) {
                    // 정상적으로 검색이 완료됐으면
                     if (status === kakao.maps.services.Status.OK) {

                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords,
                            title: tit,
                            image: markerImage
                        });

                        kakao.maps.event.addListener(marker, 'click', function() {
                            location.href="/shops/"+res[i]['shopId'];


                        /*
                        // 클릭된 마커가 없고, click 마커가 클릭된 마커가 아니면
                        // 마커의 이미지를 클릭 이미지로 변경합니다
                        if (!selectedMarker || selectedMarker !== marker) {

                            // 클릭된 마커 객체가 null이 아니면
                            // 클릭된 마커의 이미지를 기본 이미지로 변경하고
                            !!selectedMarker && selectedMarker.setImage(selectedMarker.normalImage);

                            // 현재 클릭된 마커의 이미지는 클릭 이미지로 변경합니다
                            marker.setImage(clickImage);
                        }

                        // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다
                        selectedMarker = marker;
                        */
                    });

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        //map.setCenter(coords);
                    }
                });
            }




            </script>


</div>


            </main>
            <!-- Main Content -->
        </div>



</body>
</html>
