<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum">

    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <!-- Top Nav -->

                <div class="col-12 bg-purple py-2 d-md-block d-none">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="tel:+123-456-7890"><i class="fa fa-phone-square me-2"></i>+123-456-7890</a>
                                </li>
                                <li>
                                    <a href="mailto:cakezip@cake.com"><i class="fa fa-envelope me-2"></i>cakezip@cake.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Nav -->

                <!-- Header -->
                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left">
                                <a href="/sellers/myshop">Cake.zip</a>
                            </div>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                            <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#mainNav">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                        </nav>
                    </div>
                    <!-- Nav -->

                </div>
                <!-- Header -->
            </header>
        </div>

        <a th:href="@{/sellers/myshop/info}">
            뒤로 가기
        </a>

        <form method="get" th:action="@{/sellers/myshop/options/new/{type} (type=${type})}">
            <h4 style="color: mediumpurple" th:text="|${type.toString()} 옵션 목록 조회 및 수정 페이지입니다.|"></h4>
            <input style="border-color: white; background-color: white; color: pink" type="submit" value="옵션 추가">
        </form>

        <div class="col-12">
            <table border="1">
                <tr>
                    <th>옵션 아이디</th>
                    <th>옵션 디테일</th>
                    <th>옵션 가격</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                <tr th:each="op:${optionDetail}">
<!--                    <td><a th:href="@{/product/{id}(id=${p.productNo})}" th:text="${p.productNo}"></a></td>-->
                    <td th:text="${op.getCakeOptionListId()}"></td>
                    <td th:text="${op.getOptionDetail()}"></td>
                    <td th:text="${op.getOptionPrice()}"></td>

                    <td>
                        <form method="get" th:action="@{/sellers/myshop/options/{optionId} (optionId=${op.getCakeOptionListId()})}">
                            <input type="submit" value="수정">
                        </form>
                    </td>

                    <td>
                        <form method="post" th:action="@{/sellers/myshop/options/{optionId} (optionId=${op.getCakeOptionListId()})}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="삭제">
                        </form>
                    </td>
                </tr>
            </table>
            <!-- Main Content -->
        </div>

        <div class="col-12 align-self-end">
            <!-- Footer -->
            <footer class="row">
                <div class="col-12 bg-purple text-white pb-5 pt-5">
                    <div class="row">
                        <div class="col-12 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer-logo">
                                        <a href="index.html">Cake.zip</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <address>
                                        Quokka TF<br/>
                                        Seoul, Korea
                                    </address>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            kayeong-kim@nhn-commerce.com
                                        </li>
                                        <li>
                                            hwijeong-lee@nhn-commerce.com
                                        </li>
                                        <li>
                                            hyerim-hwang@nhn-commerce.com
                                        </li>
                                        <li>
                                            gyoungmin-yoo@nhn-commerce.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>