<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">

<head>

    <th:block th:if="${#strings.length(data.message) != 0}">
        <script>
			top.alert("[[${data.message}]]");

        </script>
    </th:block>
    <th:block th:if="${#strings.length(data.href) != 0}">
        <script>
			top.location.href = '[[${data.href}]]';

        </script>
    </th:block>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>모든 케이크집을 압축해 한눈에, cake.zip</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">


    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">

		//문서가 준비되면 제일 먼저 실행
        $(document).ready(function(){
            $("#iamportPayment").click(function(){
                payment(); //버튼 클릭하면 호출
            });
            })


        //버튼 클릭하면 실행
        function payment(data) {
            var price = document.getElementById("price")
            var name = document.getElementById("name")

            var uname = document.getElementById("uname")
            var uphonenum = document.getElementById("uphonenum")
            var uemail = document.getElementById("uemail")
            var cid = document.getElementById("cid")

            var postpath = cid.innerHTML

            IMP.init('imp66507436');//아임포트 관리자 콘솔에서 확인한 '가맹점 식별코드' 입력
            IMP.request_pay({// param
                pg: "cakezip 레터링주문제작케이크", //pg사명 or pg사명.CID (잘못 입력할 경우, 기본 PG사가 띄워짐)
                pay_method: "card", //지불 방법
                merchant_uid: 'merchant_'+new Date().getTime(), //가맹점 주문번호 (아임포트를 사용하는 가맹점에서 중복되지 않은 임의의 문자열을 입력)
                name: name.innerHTML, //결제창에 노출될 상품명
                amount: price.innerHTML, //금액
                buyer_email : uemail.innerHTML,
                buyer_name : uname.innerHTML,
                buyer_tel : uphonenum.innerHTML
            }, function (rsp) { // callback
                if (rsp.success) {
                    alert("결제가 완료되었습니다.")
<!--                    alert("완료 -> imp_uid : "+rsp.imp_uid+" / merchant_uid(orderKey) : " +rsp.merchant_uid);-->
                    sendData(postpath, {imp_uid: rsp.imp_uid, cake_id: cid.innerHTML, price:price.innerHTML});
                } else {
                    alert("실패 : 코드("+rsp.error_code+") / 메세지(" + rsp.error_msg + ")");
                }
            });
        }

        function sendData(path, parameters, method='post') {

          const form = document.createElement('form');
          form.method = method;
          form.action = path;
          document.body.appendChild(form);

          for (const key in parameters) {
              const formField = document.createElement('input');
              formField.type = 'hidden';
              formField.name = key;
              formField.value = parameters[key];

              form.appendChild(formField);
          }
          form.submit();
        }



    </script>

</head>
<body>
<div class="container-fluid" layout:fragment="content">

    <div class="row min-vh-100">

        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="col-12 pt-2 bg-lightpurple text-center text-uppercase" style="color:#AD81D5">
                    <h2>결제</h2>
                </div>
            </div>

            <main class="row">
                <div class="col-12 bg-white py-3 mb-3">
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                        <br>
                        <div style="color:#198754">
                            <h4>아래 내용을 확인하고 결제버튼을 눌러주세요!</h4>
                        </div>
                        <br>
                        <div class="col-12" style="padding: 30px 0px 30px 0px;">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th>가게명</th>
                                    <th>픽업날짜</th>
                                    <th>상세옵션</th>
                                    <th></th>
                                    <th style="text-align: right">금액</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr>
                                    <td rowspan="8">
                                        <img th:src="${cake.get('img')}">
                                        <p th:text="${cake.get('cake').shop.shopName}"></p>
                                    </td>
                                    <td rowspan="8" th:text="${cake.get('cake').pickupDate}"></td>
                                    <td>케이크디자인</td>
                                    <td th:text="${cake.get('DESIGN')}" id="name">1번 핑크토끼케이크 [BEST]</td>
                                    <td style="text-align: right" th:text="${cake.get('DESIGNprice')}">21,500
                                    </td>
                                </tr>
                                <tr>
                                    <td>케이크 호수</td>
                                    <td th:text="${cake.get('SIZE')}">1호</td>
                                    <td style="text-align: right" th:text="${cake.get('SIZEprice')}">21,500</td>
                                </tr>
                                <tr>
                                    <td>시트맛</td>
                                    <td th:text="${cake.get('SFLAVOR')}">오레오</td>
                                    <td style="text-align: right" th:text="${cake.get('SFLAVORprice')}">21,500
                                    </td>
                                </tr>
                                <tr>
                                    <td>크림맛</td>
                                    <td th:text="${cake.get('CFLAVOR')}">생크림</td>
                                    <td style="text-align: right" th:text="${cake.get('CFLAVORprice')}">21,500
                                    </td>
                                </tr>
                                <tr>
                                    <td>케이크 바탕색</td>
                                    <td th:text="${cake.get('CCOLOR')}">흰색</td>
                                    <td style="text-align: right" th:text="${cake.get('CCOLORprice')}">21,500
                                    </td>
                                </tr>
                                <tr>
                                    <td>레터링 색</td>
                                    <td th:text="${cake.get('LCOLOR')}">주황색</td>
                                    <td style="text-align: right" th:text="${cake.get('LCOLORprice')}">21,500
                                    </td>
                                </tr>
                                <tr>
                                    <td>레터링 문구</td>
                                    <td th:text="${cake.get('cake').letterText}">HBD</td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td>기타 요청사항</td>
                                    <td th:text="${cake.get('cake').etc}">둘러싼 크림을 파란색으로 해주세요!</td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right">Total</th>
                                    <th style="text-align: right" th:text="${cake.get('cake').totalPrice}" id="price">
                                        4,000
                                    </th>
                                    <th style=" display: none;" th:text="${userinfo.name}" id="uname"></th>
                                    <th style=" display: none;" th:text="${userinfo.phoneNum}" id="uphonenum"></th>
                                    <th style=" display: none;" th:text="${userinfo.email}" id="uemail"></th>
                                    <th style=" display: none;" th:text="${cake.get('cake').cakeId}" id="cid"></th>
                                </tr>
                                </tbody>

                            </table>

                            <br>
                            <input id="iamportPayment" class="btn btn-outline-success" type="submit" value="결제하기"
                                   style="width:100%">

                        </div>
                    </div>
                </div>

            </main>
            <!-- Main Content -->
        </div>

    </div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>