<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">

    <th:block th:if="${#strings.length(data.message) != 0}">
        <script>
			top.alert("[[${data.message}]]");

        </script>
    </th:block>
    <th:block th:if="${#strings.length(data.href) != 0}">
        <script>
			top.location.href = '[[${data.href}]]';

        </script>
    </th:block>

    <div class="row min-vh-100">


        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="page-title col-12 py-3 bg-lightpurple text-center text-uppercase nanum text-purple">
                    <h2>내가 받은 케이크 주문 목록</h2>
                </div>
            </div>

            <main class="row nanum">
                <div class="col-12 bg-white py-3">

                    <div class="col-md-12">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/sellers/myshop}">내 가게</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sellers/orders}">내 가게 주문 조회</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sellers/myinfo}">내 정보 조회</a>
                            </li>
                        </ul>
                    </div>

                    <div th:each="dto : ${cake}" class="row py-3">
                        <div class="card col-6 mx-auto py-3">
                            <div class="card-body">
                                <h4 class="card-title text-purple"><span>no. </span><span
                                        th:text="${dto.cakeId}"></span></h4>
                                <p><span class="order-short">주문자 : </span><span
                                        th:text="${dto.customer.user.userName}"></span></p>
                                <p><span class="order-short">결제 금액 : </span><span th:text="${dto.totalPrice}"></span>
                                </p>
                                <p><span class="order-short">픽업 날짜 : </span><span th:text="${dto.pickupDate}"></span>
                                </p>
                                <p><span class="order-short">주문상태 : </span><span
                                        th:text="${dto.cakeStatus.cakeStatusName}"></span></p>
                                <form method="get" th:action="@{'/sellers/orders/' + ${dto.cakeId} }"
                                      style="float:left">
                                    <input class="btn btn-purple btn-md card-link" type="submit" value="주문상세보기">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Main Content -->
        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>