<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
      $(function () {
        $(".delete").click(function () {
          const noticeId = $("#notice_id").val();
          $.ajax({
            type: "DELETE",
            url: "/notification/delete/" + noticeId,
            contentType: "application/json; charset=utf-8",
          })
            .done(function () {
              location.reload();
            })
            .fail(function (error) {
              alert(JSON.stringify(error));
            });
        });
      });


    </script>
</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">

    <div class="row min-vh-100">
        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="page-title col-12 py-3 bg-lightpurple text-center text-uppercase font-monospace text-purple">
                    <h2>사장님용 페이지입니다.</h2>
                </div>
            </div>

            <main class="row nanum">
                <div class="col-12 bg-white py-3">
                    <div th:if="${shop} == null">
                        <div class="col-12 text-center py-2">
                            <a href="/shops/new" class="btn btn-purple btn-lg btn-block"><i
                                    class="fa fa-credit-card"></i>가게 추가</a>
                        </div>
                    </div>

                    <div th:if="${shop} != null">
                        <div th:if="${shop.getStatus()} != 'active'">
                            <div class="col-12 text-center py-2">
                                <a href="/shops/new" class="btn btn-purple btn-lg btn-block"><i
                                        class="fa fa-credit-card"></i>가게 추가</a>
                            </div>
                        </div>

                        <div th:if="${shop.getStatus()} == 'active'">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="nav">
                                            <li class="nav-item">
                                                <a class="btn btn-purple btn-md nav-link active" th:href="@{/sellers/myshop}">내 가게 정보</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="btn btn-purple btn-md nav-link" th:href="@{/sellers/orders}">내 가게 주문 조회</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="row py-1">
                                        <div class="col-12">
                                            <div class="card col-12 bg-white mx-auto py-3 text-center h-100 product-item">
                                                <a class="card-body" th:href="@{/sellers/myshop/info}">
                                                    <div class="card-title text-purple"><span class="product-name"
                                                                                              th:text="${shop.getShopName()}">케이크 가게1</span>
                                                    </div>
                                                    <div><span class="product-description"
                                                               th:text="${shop.getShopShortDescriptor()}"></span></div>
                                                    <div><span class="product-area"
                                                               th:text="${shop.getShopArea()}"></span></div>
                                                    <div>
                                                        <th:block th:each="image: ${shopImgs}">
                                                            <img th:src="${image.getShopImgUrl()}" class="img-fluid"
                                                                 style="height: 300px; width: 300px;">
                                                        </th:block>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Messages -->
            <div class="toast-container position-fixed bottom-0 start-0 p-3">
                <div
                        th:each="dto : ${notification}"
                        class="toast align-items-center text-purple bg-success border-0 bg-lightpurple"
                        data-bs-autohide="false"
                >
                    <div class="d-flex">
                        <div class="toast-body">
                            <i class="fas fa-check-circle me-2"></i>
                            <span>주문번호 : <span th:text="${dto.order.orderId}"></span></span>
                            <br/>
                            <th:block th:switch="${dto.noticeType}">
                                <span th:case="TOSELLER">
                <span th:text="${dto.order.cake.shop.shopName}"></span>의
              </span>
                            </th:block>
                            <th:block th:switch="${dto.noticeMessage}">
                                <span th:case="ORDER_NEW">새로운 주문이 발생했습니다.</span>
                                <span th:case="ORDER_CANCEL">주문이 취소되었습니다.</span>
                            </th:block>
                        </div>
                        <button
                                th:value="${dto.noticeId}"
                                type="button"
                                id="notice_id"
                                class="delete btn-close me-2 m-auto"
                                data-bs-dismiss="toast"
                                aria-label="Close"
                        ></button>
                    </div>
                </div>
            </div>
            <!-- Messages -->
            <!-- Main Content -->
        </div>
    </div>
</div>
</body>
</html>