<!doctype html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    function phoneCheck() {
        var res;
        $.ajax({
            type: 'GET',
            url: '/users/phoneCheck',
            async:false,
            data: {"phoneNum":document.getElementById("userPhoneNum").value},
            dataType: 'json',
            success: function(result) {
                res=result;
            }

        });
        return res;
    }
    function idCheck() {
        var res;
        $.ajax({
            type: 'GET',
            url: '/users/idCheck',
            async:false,
            data: {"userEmail":document.getElementById("userEmail").value},
            dataType: 'json',
            success: function(result) {
                res=result;
            }

        });
        return res;
    }

    function formCheck() {
        var userName = document.getElementById("userName");
        var userEmail = document.getElementById("userEmail");
        var userPassword = document.getElementById("userPassword");
        var userPhoneNum = document.getElementById("userPhoneNum");
        var userGender = document.getElementById("userGender");
        var userArea = document.getElementById("userArea");



        if(userName.value == "") {
            alert("이름을 입력해주세요");
            userName.focus();
            return false;
        }

        var regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;

        if(userEmail.value == "") {
            alert("이메일을 입력하세요.");
            userName.focus();
            return false;
        }

        if(!regEmail.test(userEmail.value)) {
            alert("올바른 이메일 형식을 입력해주세요");
            userEmail.focus();
            return false;
        }

        if(idCheck(userEmail.value)) {
            alert("이미 존재하는 이메일입니다. 다른 이메일을 적어주세요");
            userEmail.focus();
            return false;
        }

        if(userPassword.value == "") {
            alert("비밀번호를 입력하세요.");
            userPassword.focus();
            return false;
        }
        var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;
        if (!pwdCheck.test(userPassword.value)) {
            alert("비밀번호는 영문자+숫자+특수문자 조합으로 8-25자리 사용해야 합니다.");
            userPassword.focus();
            return false;
        }

        var reg = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;;

        if(userPhoneNum.value == "") {
            alert("전화번호를 입력하세요");
            userPhoneNum.focus();
            return false;
        }

        if(phoneCheck()) {
            alert("이미 존재하는 핸드폰 번호입니다. 다른 핸드폰 번호 입력해주세요");
            userPhoneNum.focus();
            return false;
        }

        if(!reg.test(userPhoneNum.value)) {
            alert("올바른 전화번호 형식을 입력해주세요 (010-1234-5678)");
            userPhoneNum.focus();
            return false;
        }

        document.join_form.submit();
    }


    </script>
</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">
        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="col-12 pt-3 bg-lightpurple text-center text-uppercase" style="color:#AD81D5">
                    <h2>판매자 회원가입</h2>
                </div>
            </div>

            <main class="row">
                <div class="col-12 bg-white py-3 mb-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                        <form method="POST" action="/users/sellers" name="join_form">

                            <!--                                <input class="form-control" readonly placeholder="ID">-->
                            <!--                                <input class="form-control" readonly placeholder="Password">-->

                            <div class="mb-3">
                                <label field="userName">이름</label>
                                <input id="userName" type="name" name="userName" class="form-control" placeholder="이름 입력">
                            </div>

                            <div class="mb-3">
                                <label field="userEmail">이메일</label>
                                <input id="userEmail" type="email" name="userEmail" class="form-control" placeholder="이메일 입력">
                            </div>

                            <div class="mb-3">
                                <label field="username">비밀번호</label>
                                <input id="userPassword" type="password" name="password" class="form-control" placeholder="비밀번호 입력">
                            </div>

                            <div class="mb-3">
                                <label field="username">전화번호</label>
                                <input id="userPhoneNum" type="phone" name="phoneNum" class="form-control" placeholder="010-1234-1234">
                            </div>



                            <div class="mb-3">
                                <button class="w-100 btn btn-lg btn-purple" type="button"
                                        onclick="formCheck();">완료
                                </button>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>


            </main>
            <!-- Main Content -->
        </div>


    </div>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
