<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">

    <div class="row min-vh-100">

        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="page-title col-12 py-3 bg-lightpurple text-center text-uppercase font-monospace text-purple">
                    <h2>사장님용 페이지입니다.</h2>
                </div>
            </div>

            <main class="row nanum">
                <div class="col-12 bg-white py-3">
                    <div th:if ="${shop} != null">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" th:href="@{/sellers/myshop/{id} (id = ${shop.getSeller().getSellerId()})}">내 가게</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/sellers/myorders/{id} (id = ${shop.getSeller().getSellerId()})}">내 가게 주문 조회</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/sellers/myinfo/{id} (id = ${shop.getSeller().getSellerId()})}">내 정보 조회</a>
                                        </li>
                                    </ul>
                                    <div style="height: 30px">

                                    </div>
                                    <div class="jumbotron" style="padding:10px; background-color: #eceeef" >
                                        <h2 th:text = "${shop.getShopName()}"></h2>
                                        <table>
                                            <tr th:each = "img : ${shopImgs}">
                                                <td><img id="imgId" th:src="${img.shopImgUrl}" alt="첨부이미지" /></td>
                                            </tr>
                                        </table>
                                        <p th:text = "|가게 한줄 소개 : ${shop.getShopShortDescriptor()}|"></p>
                                        <P th:text = "|가게 주소 : ${shop.getShopAddress()}|"></P>
                                        <P th:text = "|가게 전화번호 : ${shop.getShopPhoneNum()}|"></P>
                                        <P th:text = "|사업자 등록 번호 : ${shop.getBusinessNum()}|"></P>
                                        <P>가게 상세 설명 이미지</P>
                                        <img id="shopDetailimgId" th:src="${shop.getShopImgDescriptionUrl()}" alt="첨부이미지" />
                                        <P th:text = "|가게 등록일 : ${#temporals.format(shop.createdAt, 'yyyy-MM-dd')}|"></P>
                                        <p>
                                            <a class="btn btn-primary btn-large" th:href="@{/shops/{id} (id = ${shop.getShopId()})}">가게 정보 수정</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Main Content -->
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>