<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum">

    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <!-- Top Nav -->

                <div class="col-12 bg-purple py-2 d-md-block d-none">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="tel:+123-456-7890"><i class="fa fa-phone-square me-2"></i>+123-456-7890</a>
                                </li>
                                <li>
                                    <a href="mailto:cakezip@cake.com"><i class="fa fa-envelope me-2"></i>cakezip@cake.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Nav -->

                <!-- Header -->
                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left">
                                <a href="/sellers/myshop">Cake.zip</a>
                            </div>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                            <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#mainNav">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                        </nav>
                    </div>
                    <!-- Nav -->

                </div>
                <!-- Header -->

            </header>
        </div>

        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="page-title col-12 py-3 bg-lightpurple text-center text-uppercase font-monospace text-purple">
                    <h2>사장님용 페이지입니다.</h2>
                </div>
            </div>

            <main class="row nanum">
                <div class="col-12 bg-white py-3">
                    <div th:if ="${shop} == null">
                        <div class="col-12 text-center py-2">
                            <a href="/shops/new" class="btn btn-purple btn-lg btn-block"><i class="fa fa-credit-card"></i>가게 추가</a>
                        </div>
                    </div>

                    <div th:if ="${shop} != null">
                        <div th:if ="${shop.getStatus()} != 'active'">
                            <div class="col-12 text-center py-2">
                                <a href="/shops/new" class="btn btn-purple btn-lg btn-block"><i class="fa fa-credit-card"></i>가게 추가</a>
                            </div>
                        </div>

                        <div th:if ="${shop.getStatus()} == 'active'">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="nav">
                                            <li class="nav-item">
                                                <a class="nav-link active" th:href="@{/sellers/myshop}">내 가게</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/sellers/orders}">내 가게 주문 조회</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" th:href="@{/sellers/myinfo}">내 정보 조회</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="row py-1">
                                        <div class="col-12">
                                            <div class="card col-12 bg-white mx-auto py-3 text-center h-100 product-item">
                                                <a class="card-body" th:href="@{/sellers/myshop/info}">
                                                    <div class="card-title text-purple"><span class="product-name" th:text="${shop.getShopName()}">케이크 가게1</span></div>
                                                    <div><span class="product-description" th:text="${shop.getShopShortDescriptor()}"></span></div>
                                                    <div><span class="product-area" th:text="${shop.getShopArea()}"></span></div>
                                                    <div>
                                                        <th:block th:each="image: ${shopImgs}">
                                                            <img th:src="${image.getShopImgUrl()}" class="img-fluid"
                                                                 style="height: 300px; width: 300px;">
                                                        </th:block>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </main>
            <!-- Main Content -->
        </div>

        <div class="col-12 align-self-end">
            <!-- Footer -->
            <footer class="row">
                <div class="col-12 bg-purple text-white pb-5 pt-5">
                    <div class="row">
                        <div class="col-12 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer-logo">
                                        <a href="index.html">Cake.zip</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <address>
                                        Quokka TF<br/>
                                        Seoul, Korea
                                    </address>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            kayeong-kim@nhn-commerce.com
                                        </li>
                                        <li>
                                            hwijeong-lee@nhn-commerce.com
                                        </li>
                                        <li>
                                            hyerim-hwang@nhn-commerce.com
                                        </li>
                                        <li>
                                            gyoungmin-yoo@nhn-commerce.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>