<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    #browsers2{
    background-color: white;
    border: 1px solid purple;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
    }







</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Commerce Template</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum">

    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <!-- Top Nav -->

                <div class="col-12 bg-purple py-2 d-md-block d-none">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="tel:+123-456-7890"><i class="fa fa-phone-square me-2"></i>+123-456-7890</a>
                                </li>
                                <li>
                                    <a href="mailto:cakezip@cake.com"><i class="fa fa-envelope me-2"></i>cakezip@cake.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <ul class="top-nav">
                                <li>
                                    <a href="/mypage"><i class="fas fa-user-alt me-2"></i>마이페이지</a>
                                </li>
                                <li>
                                    <a href="/register"><i class="fas fa-user-edit me-2"></i>회원가입</a>
                                </li>
                                <li>
                                    <a href="/login"><i class="fas fa-sign-in-alt me-2"></i>로그인</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Top Nav -->

                <!-- Header -->
                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left">
                                <a href="/index">Cake.zip</a>
                            </div>
                        </div>
                        <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="search" class="form-control border-dark" placeholder="검색어를 입력하세요"
                                               required>
                                        <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-auto text-center text-lg-left header-item-holder">
                            <a href="#" class="header-item">
                                <i class="fas fa-heart me-2"></i><span id="header-favorite">0</span>
                            </a>
                            <a href="/cart" class="header-item">
                                <i class="fas fa-shopping-bag me-2"></i><span id="header-qty" class="me-3">2</span>
                                <i class="fas fa-money-bill-wave me-2"></i><span id="header-price">$4,000</span>
                            </a>
                        </div>
                    </div>

                    <!-- Nav -->
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white col-12">
                            <button class="navbar-toggler d-lg-none border-0" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#mainNav">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="mainNav">
                                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="index.html">전체보기<span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="electronics"
                                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">지역별
                                            보기</a>
                                        <div class="dropdown-menu" aria-labelledby="electronics">
                                            <a class="dropdown-item" href="category.html">서울</a>
                                            <a class="dropdown-item" href="category.html">부산</a>
                                        </div>

                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Nav -->

                </div>
                <!-- Header -->

            </header>
        </div>

        <div class="col-12">
            <!-- Main Content -->

            <div class="row">
                <div class="page-title col-12 py-3 bg-lightpurple text-center text-uppercase nanum text-purple">
                    <h2>주문 상세보기</h2>
                </div>
            </div>


            <main class="row nanum">
                <div class="col-12 bg-white py-3">
                    <div class="row">
                        <div class="col-9 mx-auto card py-3">
                            <div class="card-body" style="padding: 20px 20px 20px 20px;">
                                <div >
                                    <form method="get" th:action="@{'/sellers/orders'}">
                                        <input class="btn btn-purple btn-md card-link" type="submit" value=" < 주문전체보기">
                                    </form>
                                </div>
                                <br>
                                <br>
                                <h5 class="text-purple">주문상태</h5>
                                <p>주문상태를 변경할 경우, 고객에게 알림이 갑니다.</p>
                                <form method="post" th:action="@{'/sellers/orders/' + ${cakedetail.cake.cakeId} }">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="hidden" name="_method" value="PUT"/>

                                            <select size="1" class="form-control border-dark" style="text-align:center"
                                                    name="statusCheck"
                                                    th:value="${statusSelected}" required autofocus>
                                                <option th:selected="${statusSelected}=='PAYMENT'"
                                                        value="PAYMENT" selected>결제완료
                                                </option>
                                                <option th:selected="${statusSelected}=='REJECT'"
                                                        value="REJECT">주문거절
                                                </option>
                                                <option th:selected="${statusSelected}=='PROCEED'"
                                                        value="PROCEED">준비중
                                                </option>
                                                <option th:selected="${statusSelected}=='READY'"
                                                        value="READY">픽업대기
                                                </option>
                                                <option th:selected="${statusSelected}=='COMPLETE'"
                                                        value="COMPLETE">픽업완료
                                                </option>
                                            </select>
                                            <button class="btn btn-outline-dark" type="submit"
                                                    onclick="alert('주문상태가 변경되었습니다!');">변경하기
                                            </button>
                                        </div>
                                    </div>
                                </form>

                                <br>
                                <br>

                                <div class="col-12"
                                     style="padding: 30px 0px 30px 0px;">


                                    <h5 class="text-purple">고객정보</h5>
                                    <p><span class="order-short">이름 : </span>
                                        <span th:text="${customerInfo.name}"></span></p>
                                    <p><span class="order-short">전화번호 : </span>
                                        <span th:text="${customerInfo.phone}"></span></p>
                                    <p><span class="order-short">이메일 : </span>
                                        <span th:text="${customerInfo.email}"></span></p>
                                    <br>
                                    <br>

                                    <h5 class="text-purple">주문내용</h5>

                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>상품</th>
                                            <th>픽업날짜</th>
                                            <th>상세옵션</th>
                                            <th></th>
                                            <th style="text-align: right">총 금액</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td rowspan="8">
                                                <img th:src="${cakedetail.get('img')}">
                                            </td>
                                            <td rowspan="8" th:text="${dto.get('cake').pickupDate}"></td>
                                            <td>케이크디자인</td>
                                            <td th:text="${cakedetail.get('DESIGN')}">1번 핑크토끼케이크 [BEST]</td>
                                            <td style="text-align: right" th:text="${cakedetail.get('DESIGNprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>케이크 호수</td>
                                            <td th:text="${cakedetail.get('SIZE')}">1호</td>
                                            <td style="text-align: right" th:text="${cakedetail.get('SIZEprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>시트맛</td>
                                            <td th:text="${cakedetail.get('SFLAVOR')}">오레오</td>
                                            <td style="text-align: right" th:text="${cakedetail.get('SFLAVORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>크림맛</td>
                                            <td th:text="${cakedetail.get('CFLAVOR')}">생크림</td>
                                            <td style="text-align: right" th:text="${cakedetail.get('CFLAVORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>케이크 바탕색</td>
                                            <td th:text="${cakedetail.get('CCOLOR')}">흰색</td>
                                            <td style="text-align: right" th:text="${cakedetail.get('CCOLORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>레터링 색</td>
                                            <td th:text="${cakedetail.get('LCOLOR')}">주황색</td>
                                            <td style="text-align: right" th:text="${cakedetail.get('LCOLORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>레터링 문구</td>
                                            <td th:text="${cakedetail.get('cake').letterText}">HBD</td>
                                            <td style="text-align: right"></td>
                                        </tr>
                                        <tr>
                                            <td>기타 요청사항</td>
                                            <td th:text="${cakedetail.get('cake').etc}">둘러싼 크림을 파란색으로 해주세요!</td>
                                            <td style="text-align: right"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="4" class="text-right">Total</th>
                                            <th style="text-align: right" th:text="${cakedetail.get('cake').totalPrice}">4,000
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </main>
            <!-- Main Content -->
        </div>

        <div class="col-12 align-self-end">
            <!-- Footer -->
            <footer class="row">
                <div class="col-12 bg-purple text-white pb-5 pt-5">
                    <div class="row">
                        <div class="col-12 text-center text-sm-left mb-sm-0 mb-3">
                            <div class="row">
                                <div class="col-12">
                                    <div class="footer-logo">
                                        <a href="index.html">Cake.zip</a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <address>
                                        Quokka TF<br>
                                        Seoul, Korea
                                    </address>
                                </div>
                                <div class="col-12">
                                    <ul class="footer-nav">
                                        <li>
                                            <a href="#">kayeong-kim@nhn-commerce.com</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                hwijeong-lee@nhn-commerce.com</a>
                                        </li>
                                        <li>
                                            <a href="#">hyerim-hwang@nhn-commerce.com</a>
                                        </li>
                                        <li>
                                            <a href="#">gyoungmin-yoo@nhn-commerce.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>