<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default_layout}">
<style>
    #browsers2{
    background-color: white;
    border: 1px solid purple;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
    }








</style>
<head>


    <th:block th:if="${#strings.length(data.message) != 0}">
        <script>
			top.alert("[[${data.message}]]");

        </script>
    </th:block>
    <th:block th:if="${#strings.length(data.href) != 0}">
        <script>
			top.location.href = '[[${data.href}]]';

        </script>
    </th:block>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cake.zip - 케이크집을 압축해 한눈에</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-fluid nanum" layout:fragment="content">

    <div class="row min-vh-100">
        <div class="col-12">


            <!-- Main Content -->

            <div class="row">
                <div class="page-title col-12 py-3 bg-lightpurple text-center text-uppercase nanum text-purple">
                    <h2>주문 상세보기</h2>
                </div>
            </div>


            <main class="row nanum">
                <div class="col-12 bg-white py-3">
                    <div class="row">
                        <div class="col-9 mx-auto card py-3">
                            <div class="card-body" style="padding: 20px 20px 20px 20px;">
                                <div>
                                    <form method="get" th:action="@{'/sellers/orders'}">
                                        <input class="btn btn-purple btn-md card-link" type="submit" value=" < 주문전체보기">
                                    </form>
                                </div>
                                <br>
                                <br>
                                <h5 class="text-purple">주문상태</h5>
                                <p>주문상태를 변경할 경우, 고객에게 알림이 갑니다.</p>
                                <form method="post" th:action="@{'/sellers/orders/' + ${cakeDetail.get('cake').cakeId} }">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="hidden" name="_method" value="PUT"/>

                                            <select size="1" class="form-control border-dark" style="text-align:center"
                                                    name="statusCheck"
                                                    th:value="${statusSelected}" required autofocus>
                                                <option th:selected="${statusSelected}=='PAYMENT'"
                                                        value="PAYMENT" selected>결제완료
                                                </option>
                                                <option th:selected="${statusSelected}=='REJECT'"
                                                        value="REJECT">주문거절
                                                </option>
                                                <option th:selected="${statusSelected}=='PROCEED'"
                                                        value="PROCEED">준비중
                                                </option>
                                                <option th:selected="${statusSelected}=='READY'"
                                                        value="READY">픽업대기
                                                </option>
                                                <option th:selected="${statusSelected}=='COMPLETE'"
                                                        value="COMPLETE">픽업완료
                                                </option>
                                            </select>
                                            <button class="btn btn-outline-dark" type="submit"
                                                    onclick="alert('주문상태가 변경되었습니다!');">변경하기
                                            </button>
                                        </div>
                                    </div>
                                </form>

                                <br>
                                <br>

                                <div class="col-12"
                                     style="padding: 30px 0px 30px 0px;">


                                    <h5 class="text-purple">고객정보</h5>
                                    <p><span class="order-short">이름 : </span>
                                        <span th:text="${customerInfo.name}"></span></p>
                                    <p><span class="order-short">전화번호 : </span>
                                        <span th:text="${customerInfo.phone}"></span></p>
                                    <p><span class="order-short">이메일 : </span>
                                        <span th:text="${customerInfo.email}"></span></p>
                                    <br>
                                    <br>

                                    <h5 class="text-purple">주문내용</h5>

                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>상품</th>
                                            <th>픽업날짜</th>
                                            <th>상세옵션</th>
                                            <th></th>
                                            <th style="text-align: right">총 금액</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td rowspan="8">
                                                <img th:src="${cakeDetail.get('img')}">
                                            </td>
                                            <td rowspan="8" th:text="${cakeDetail.get('cake').pickupDate}"></td>
                                            <td>케이크디자인</td>
                                            <td th:text="${cakeDetail.get('DESIGN')}">1번 핑크토끼케이크 [BEST]</td>
                                            <td style="text-align: right" th:text="${cakeDetail.get('DESIGNprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>케이크 호수</td>
                                            <td th:text="${cakeDetail.get('SIZE')}">1호</td>
                                            <td style="text-align: right" th:text="${cakeDetail.get('SIZEprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>시트맛</td>
                                            <td th:text="${cakeDetail.get('SFLAVOR')}">오레오</td>
                                            <td style="text-align: right" th:text="${cakeDetail.get('SFLAVORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>크림맛</td>
                                            <td th:text="${cakeDetail.get('CFLAVOR')}">생크림</td>
                                            <td style="text-align: right" th:text="${cakeDetail.get('CFLAVORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>케이크 바탕색</td>
                                            <td th:text="${cakeDetail.get('CCOLOR')}">흰색</td>
                                            <td style="text-align: right" th:text="${cakeDetail.get('CCOLORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>레터링 색</td>
                                            <td th:text="${cakeDetail.get('LCOLOR')}">주황색</td>
                                            <td style="text-align: right" th:text="${cakeDetail.get('LCOLORprice')}">
                                                21,500
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>레터링 문구</td>
                                            <td th:text="${cakeDetail.get('cake').letterText}">HBD</td>
                                            <td style="text-align: right"></td>
                                        </tr>
                                        <tr>
                                            <td>기타 요청사항</td>
                                            <td th:text="${cakeDetail.get('cake').etc}">둘러싼 크림을 파란색으로 해주세요!</td>
                                            <td style="text-align: right"></td>
                                        </tr>
                                        <tr>
                                            <th colspan="4" class="text-right">Total</th>
                                            <th style="text-align: right"
                                                th:text="${cakeDetail.get('cake').totalPrice}">4,000
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </main>
            <!-- Main Content -->
        </div>

    </div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>